<div class="form_field search before">
  <i class="mso icon icon_before" data-icon="search"></i>
  <input
    class="field"
    type="search"
    placeholder="{{ 'search.placeholder' | t }}"
  >
</div>
