<header id="header">
  <div class="mws content">
    <div class="left_header">
      <a class="logo" href="{{ routes.root_url }}">
        {% render 'logo' %}
      </a>
    </div>
    <div class="right_header">
      {% render 'form-search' %}
      {% render 'form-icon-button', id: 'favorite' %}
      {% render 'form-icon-button', id: 'shopping_bag' %}
      <div class="account">
      {% render 'form-icon-button'| id:"account_circle" | rounded:true | class:"big only_icon" %}
      </div>
    </div>
  </div>
</header>

{% stylesheet %}
  body{
    padding-top:5rem;
  }
  #header {
    background-color: rgba(255,255,255,0.66);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.12);
    backdrop-filter: blur(1rem);
  }
  #header .form_field.search{
    background-color: #fff;
  }
  #header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
  }
  #header .right_header {
    display: flex;
    align-items: center;
    gap: var(--gap);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
